body {
    background-color:rebeccapurple;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size:20px;
}
#container{
    width:1000px;
    margin-left:auto;
    margin-right:auto;     
}
.rectangle{
    width:940px;
    margin:20px;
    text-align:center;
}
.square{
    width:50%;
    float:left;
}
#logo{
    float:left;
    font-family: 'Josefin Sans', sans-serif;
    font-size:50px;
    width:600px;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    text-align:left;
}
#zegar{
    float:left;
    font-family: 'Josefin Sans', sans-serif;
    font-size:50px;
    margin-top:10px;
    margin-bottom:10px;
    
}
.tile1 {
    margin:10px;
    width:230px;
    height:142px;
    background-color:dodgerblue;
    float:left;
    text-align:center; 
}
.tile1:hover{
background-color:antiquewhite;
}
.tile2 {
    margin:10px;
    width:230px;
    height:142px;
    background-color:gray;
    float:left;
    text-align:center;
}
.tile2:hover{
background-color:antiquewhite;
}
.tile3 {
    margin:10px;
    width:230px;
    height:142px;
    background-color:greenyellow;
    float:left;
    text-align:center;
}
.tile3:hover{
background-color:antiquewhite;
}
.tile4 {
    margin:10px;
    width:420px;
    height:82px;
    background-color:orangered;
    text-align:center;
    font-size:26px;
    padding:30px;
    line-height:150%;
}
.tile5 {
    margin:10px;
    width:420px;
    height:264px;
    background-color:gray;
    text-align:justify;
    padding:30px; 
}
.yt {
    margin:10px;
    width:105px;
    height:142px;
    background-color:red;
    float:left;
}
.yt:hover{
background-color:antiquewhite;
}
.fb {
    margin:10px;
    width:105px;
    height:142px;
    background-color:cornflowerblue;
    float:left;
}
.fb:hover{
background-color:antiquewhite;
}
.gplus {
    margin:10px;
    width:105px;
    height:142px;
    background-color:orange;
    float:left;
}
.gplus:hover{
background-color:antiquewhite;
}
.tw {
    margin:10px;
    width:105px;
    height:142px;
    background-color:deepskyblue;
    float:left;
}
.tw:hover{
background-color:antiquewhite;
}
a.tilelink{
    color:white;
    text-decoration:none;
    display:block;
    width:230px;
    height:142px;
}






